@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=IM+Fell+English+SC&family=Questrial&family=Raleway:ital,wght@0,100..900;1,100..900&family=WDXL+Lubrifont+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=IM+Fell+English+SC&family=Questrial&family=Radley:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&family=WDXL+Lubrifont+TC&display=swap');

body {

    margin: 0;
    background-color: #C28245;
}

.cabecalho {

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);

    img {

        margin-left: 50px;
    }

    h1 {

        color: #7C2300;
        font-size: 40px;
        font-family: "Radley", serif;
        margin: 5px;
    }
}

.ultimo-titulo {

    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px;
    margin-right: 100px;

}

.primeira-secao-conteudo {

    width: 1300px;
    margin-left: 150px;
    letter-spacing: -1px;

    h1 {

        font-size: 72px;
        color: #7C2300;
    }

    p {
        font-size: 40px;
        color: #631E03;
        font-family: "Questrial", sans-serif;
    }

}

.animacao-sublinhado {
    position: relative;
    color: #7C2300;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.animacao-sublinhado::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #7C2300;
    transform: scaleX(0.0001);
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}

.animacao-sublinhado:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}











.timeline h2 {
    font-family: ;
    font-size: 4.375rem;
    margin: 4rem;
    text-align: center;
}

.container-timeline {
    position: relative;
}

.linha1 {
    width: 100%;
    height: 5px;
    background: white;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;
}

.linha {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.item {
    width: 230px;
    text-align: center;
    position: relative;
    z-index: 2;
    margin: 0;
}

.caixa.top {
    margin-bottom: 80px;
}

.caixa.bottom {
    margin-top: 80px;
}

.foto {
    width: 230px;
    height: 130px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.cardmarrom {
    background: #8e5230;
    color: white;
    border-radius: 0 0 15px 15px;
    height: 90px;
    padding: 12px;
    font-size: 14px;
}

.conector {
    position: absolute;
    width: 5px;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.caixa.top .conector {
    top: 100%;
    height: 80px;
}

.caixa.bottom .conector {
    bottom: 100%;
    height: 80px;
}

#ultimalinha {
    margin-bottom: 50px;
}





.segunda-secao-conteudo {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-image: url(img/image\ 3.png);
    background-color: #803310;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    gap: 20px;




    h1 {
        font-family: "Radley", serif;
        font-size: 60px;
        color: #F5B87E;
    }

    p {

        font-size: 32px;
        font-family: "Questrial", sans-serif;
        color: #FFFDFD;
        text-align: justify;
    }

    img {

        width: 400px;
    }
}

.segunda-secao-esquerda {

    display: flex;
    flex-direction: column;
    width: 1200px;

}

.segunda-secao-direita {}


.terceira-secao-conteudo {
    background-color: #AD723B;
    padding-top: 40px;

    p {

        font-size: 32px;
        font-family: "Questrial", sans-serif;
        color: #4A1602;
        margin-left: 40px;
        margin-right: 40px;
    }

    h1 {

        font-family: "Radley", serif;
        font-size: 60px;
        color: #7C2300;
        margin: 0px;
    }

}

.conteudo-geral {


    display: flex;
    flex-direction: column;

}

.titulo-terceira-secao {

    width: 120px;
    margin-left: 120px;
}

.texto-terceira-secao {

    margin-left: 160px;
    width: 1200px;
    text-align: justify;
}