* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #C28245;
}

header {
    background-color: #C28245;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 4px 15px 7px rgba(0, 0, 0, 0.27);
}

nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

nav img {
    width: 100px;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    gap: 10rem;
    margin-right: 5rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-family: Radley;
    font-weight: 400;
    font-size: 40px;
    color: #7C2300;
    position: relative;
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: #7C2300;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease-in-out;
}

nav ul li a:hover::after {
    transform: scaleX(1);
}

.intro h2 {
    font-family: Radley;
    font-weight: 400;
    font-size: 80px;
    color: #7C2300;
    max-width: 1000px;
    margin: 2rem 4rem;
}

.intro p {
    font-family: Questrial;
    font-weight: 400;
    font-size: 40px;
    color: #631E03;
    max-width: 850px;
    margin: 2rem 4rem;
}

.time-line h2 {
    font-family: Radley;
    font-size: 70px;
    color: #7C2300;
    text-align: center;
    margin: 4rem;
}

.timeline-container {
    position: relative;
}

.line {
    width: 100%;
    height: 5px;
    background: white;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
}

.linha {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

.item {
    width: 230px;
    text-align: center;
    position: relative;
    z-index: 2;
    margin: 0;
}

.item.top {
    margin-bottom: 80px;
}

.item.bottom {
    margin-top: 80px;
}

.foto {
    width: 230px;
    height: 130px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.card {
    background: #8e5230;
    color: white;
    border-radius: 15px;
    height: 90px;
    padding: 12px;
    margin-top: 10px;
    font-size: 14px;
    border-radius: 0 0 15px 15px;
    margin: 0;
}

.connector {
    position: absolute;
    width: 4px;
    background: white;
    left: 50%;
    transform: translateX(-50%);
}

.item.top .connector {
    top: 100%;
    height: 60px;
}

.item.bottom .connector {
    bottom: 100%;
    height: 60px;
}

.cn {
    background-image: url(IMG/index/background\ CN.png);
}

.cn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.cn div h2 {
    font-family: Radley;
    font-size: 80px;
    color: #F5B87E;
    margin: 1rem 3rem;
}

.cn div p {
    font-size: Questrial;
    font-size: 42px;
    color: #FFFDFD;
    margin: 1rem 3rem;
}

.cn img {
    width: 450px;
}